In [3]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import label_binarize

onehot = OneHotEncoder()
labelencoder = LabelEncoder()

In [4]:
df_r = pd.read_csv('data/more_reggae_done.csv')
df_s = pd.read_csv('data/more_soca_done.csv')
df_d = pd.read_csv('data/more_dance_done.csv')
df_p = pd.read_csv('data/random_done.csv')
df_f = pd.read_csv('data/full_working.csv') 
df_m = pd.read_csv('data/fuller.csv')

In [5]:
df_r['genre'] = 'reggae'
df_s['genre'] = 'soca'
df_d['genre'] = 'dancehall'
df_p['genre'] = 'pop'

In [29]:
df = pd.concat([df_r, df_s, df_d, df_p, df_f, df_m], sort=True)

In [58]:
df.drop_duplicates(subset='track_id', keep='first', inplace=True)
df.reset_index(inplace=True)

In [18]:
df.to_csv('data/working_new.csv', index=True)

# Just tracks df

In [21]:
tracks = df[['track_name','artist_name','track_id','track_uri','album','album_name','album_id']]
tracks

,track_name,artist_name,track_id,track_uri
0,Jah Jah Know,Hebron Gate,5vNKYqDA0jFnhf7KoeBhuD,spotify:track:5vNKYqDA0jFnhf7KoeBhuD
1,Babylon Rule Dem,Hebron Gate,2M3kpGBrnU6mebuyGGRf9M,spotify:track:2M3kpGBrnU6mebuyGGRf9M
2,Marley,Dialogue de sourds,2hsJhLUWR5au4BXVBNrXzO,spotify:track:2hsJhLUWR5au4BXVBNrXzO
3,Les champs de roses,Dialogue de sourds,1mU0Y67gXQ9l7pwUixl7Md,spotify:track:1mU0Y67gXQ9l7pwUixl7Md
4,You Baby,Press Play,2ewJuyk4eWf3G8arju6AvU,spotify:track:2ewJuyk4eWf3G8arju6AvU
...,...,...,...,...
12576,This Love,NaN,7FW2CpmJNT34YXvBl0eJx5,spotify:track:7FW2CpmJNT34YXvBl0eJx5
12577,Celebrate Our Love,NaN,3QcLb725quLgjCPVexgYdp,spotify:track:3QcLb725quLgjCPVexgYdp
12578,Oh No Not My Baby,NaN,19wtvDNZLngXin4vM7KBJ4,spotify:track:19wtvDNZLngXin4vM7KBJ4
12579,Too Long Will Be Too Late,NaN,1hrhB5jPeC7Ckfs244kHJC,spotify:track:1hrhB5jPeC7Ckfs244kHJC
12580,Tossin' and Turnin',NaN,6JOCs9ZVNndpa3Y49bXMhH,spotify:track:6JOCs9ZVNndpa3Y49bXMhH

In [22]:
tracks.to_csv('data/tracks.csv', index=False)

# Just features df

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12581 entries, 0 to 12580
Data columns (total 33 columns):
index               12581 non-null int64
Unnamed: 0          12581 non-null int64
Unnamed: 0.1        895 non-null float64
acousticness        12579 non-null float64
album               6744 non-null object
album_id            895 non-null object
album_name          895 non-null object
album_uri           895 non-null object
analysis_url        7394 non-null object
artist              7639 non-null object
artist_name         4942 non-null object
danceability        12579 non-null float64
duration_ms         12579 non-null float64
energy              12579 non-null float64
explicit            6744 non-null object
genre               12581 non-null object
id                  7394 non-null object
instrumentalness    12579 non-null float64
key                 12579 non-null float64
liveness            12579 non-null float64
loudness            12579 non-null float64
mode                12579 non-null float64
release_date        6744 non-null object
speechiness         12579 non-null float64
tempo               12579 non-null float64
time_signature      12579 non-null float64
track_href          7394 non-null object
track_id            12581 non-null object
track_name          12581 non-null object
track_uri           8484 non-null object
type                12579 non-null object
uri                 7394 non-null object
valence             12579 non-null float64
dtypes: float64(14), int64(2), object(17)
memory usage: 3.2+ MB

In [60]:
feats = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1','album_name', 'album_uri', 'analysis_url','type','album','album_id','artist','id','track_href','track_uri','track_name','artist_name','uri'])

In [61]:
feats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12581 entries, 0 to 12580
Data columns (total 18 columns):
index               12581 non-null int64
acousticness        12579 non-null float64
danceability        12579 non-null float64
duration_ms         12579 non-null float64
energy              12579 non-null float64
explicit            6744 non-null object
genre               12581 non-null object
instrumentalness    12579 non-null float64
key                 12579 non-null float64
liveness            12579 non-null float64
loudness            12579 non-null float64
mode                12579 non-null float64
release_date        6744 non-null object
speechiness         12579 non-null float64
tempo               12579 non-null float64
time_signature      12579 non-null float64
track_id            12581 non-null object
valence             12579 non-null float64
dtypes: float64(13), int64(1), object(4)
memory usage: 1.7+ MB

In [62]:
feats.fillna(value=0, inplace=True)

In [50]:
feats.columns

Index(['acousticness', 'danceability', 'duration_ms', 'energy', 'explicit',
       'genre', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'release_date', 'speechiness', 'tempo', 'time_signature', 'track_id',
       'valence'],
      dtype='object')

In [67]:
year = []

for x in list(feats['release_date']):
    year.append(str(x)[:4])
    
feats['year'] = year    
feats['year'].astype('int64') 
feats.drop(columns='release_date', inplace=True)

KeyError: 'release_date'

In [68]:
feats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12581 entries, 0 to 12580
Data columns (total 18 columns):
index               12581 non-null int64
acousticness        12581 non-null float64
danceability        12581 non-null float64
duration_ms         12581 non-null float64
energy              12581 non-null float64
explicit            12581 non-null object
genre               12581 non-null object
instrumentalness    12581 non-null float64
key                 12581 non-null float64
liveness            12581 non-null float64
loudness            12581 non-null float64
mode                12581 non-null float64
speechiness         12581 non-null float64
tempo               12581 non-null float64
time_signature      12581 non-null float64
track_id            12581 non-null object
valence             12581 non-null float64
year                12581 non-null object
dtypes: float64(13), int64(1), object(4)
memory usage: 1.7+ MB

In [69]:
df['genre'] = labelencoder.fit_transform(df['genre'])
df['explicit'] = labelencoder.fit_transform(df['explicit'])
df['key'] = labelencoder.fit_transform(df['key'])
df['mode'] = labelencoder.fit_transform(df['mode'])
df['time_signature'] = labelencoder.fit_transform(df['time_signature'])

In [71]:
lst = ['key','mode','year', 'explicit','time_signature']

for x in lst:
    feats[x] = feats[x].astype('category')

In [72]:
feats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12581 entries, 0 to 12580
Data columns (total 18 columns):
index               12581 non-null int64
acousticness        12581 non-null float64
danceability        12581 non-null float64
duration_ms         12581 non-null float64
energy              12581 non-null float64
explicit            12581 non-null category
genre               12581 non-null object
instrumentalness    12581 non-null float64
key                 12581 non-null category
liveness            12581 non-null float64
loudness            12581 non-null float64
mode                12581 non-null category
speechiness         12581 non-null float64
tempo               12581 non-null float64
time_signature      12581 non-null category
track_id            12581 non-null object
valence             12581 non-null float64
year                12581 non-null category
dtypes: category(5), float64(10), int64(1), object(2)
memory usage: 1.3+ MB

In [74]:
df_dum = pd.get_dummies(feats[['key','mode','year', 'explicit','time_signature']])

In [75]:
df_dum

,key_0.0,key_1.0,key_2.0,key_3.0,key_4.0,key_5.0,key_6.0,key_7.0,key_8.0,key_9.0,...,year_2018,year_2019,year_2020,explicit_0,explicit_True,time_signature_0.0,time_signature_1.0,time_signature_3.0,time_signature_4.0,time_signature_5.0
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12576,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
12577,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
12578,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
12579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
12580,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0

In [77]:
feats.drop(columns=['key','mode','year', 'explicit','time_signature'], inplace = True)
df = feats.join(df_dum)

In [78]:
df.head()

,index,acousticness,danceability,duration_ms,energy,genre,instrumentalness,liveness,loudness,speechiness,...,year_2018,year_2019,year_2020,explicit_0,explicit_True,time_signature_0.0,time_signature_1.0,time_signature_3.0,time_signature_4.0,time_signature_5.0
0,0,0.1010,0.735,363867.0,0.493,reggae,0.000012,0.3050,-9.599,0.1770,...,0,0,0,1,0,0,0,0,1,0
1,1,0.2280,0.841,423707.0,0.485,reggae,0.000111,0.0860,-9.427,0.0852,...,0,0,0,1,0,0,0,0,1,0
2,2,0.1820,0.696,312308.0,0.620,reggae,0.000000,0.0701,-6.931,0.4200,...,0,0,0,1,0,0,0,0,1,0
3,3,0.0691,0.824,232200.0,0.534,reggae,0.000000,0.1470,-6.641,0.1230,...,0,0,0,1,0,0,0,0,1,0
4,4,0.2890,0.861,215053.0,0.597,reggae,0.000000,0.1010,-5.754,0.0673,...,0,0,0,1,0,0,0,0,1,0

In [79]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12581 entries, 0 to 12580
Data columns (total 93 columns):
index                 12581 non-null int64
acousticness          12581 non-null float64
danceability          12581 non-null float64
duration_ms           12581 non-null float64
energy                12581 non-null float64
genre                 12581 non-null object
instrumentalness      12581 non-null float64
liveness              12581 non-null float64
loudness              12581 non-null float64
speechiness           12581 non-null float64
tempo                 12581 non-null float64
track_id              12581 non-null object
valence               12581 non-null float64
key_0.0               12581 non-null uint8
key_1.0               12581 non-null uint8
key_2.0               12581 non-null uint8
key_3.0               12581 non-null uint8
key_4.0               12581 non-null uint8
key_5.0               12581 non-null uint8
key_6.0               12581 non-null uint8
key_7.0               12581 non-null uint8
key_8.0               12581 non-null uint8
key_9.0               12581 non-null uint8
key_10.0              12581 non-null uint8
key_11.0              12581 non-null uint8
mode_0.0              12581 non-null uint8
mode_1.0              12581 non-null uint8
year_0                12581 non-null uint8
year_1962             12581 non-null uint8
year_1963             12581 non-null uint8
year_1965             12581 non-null uint8
year_1966             12581 non-null uint8
year_1967             12581 non-null uint8
year_1968             12581 non-null uint8
year_1969             12581 non-null uint8
year_1970             12581 non-null uint8
year_1971             12581 non-null uint8
year_1972             12581 non-null uint8
year_1973             12581 non-null uint8
year_1974             12581 non-null uint8
year_1975             12581 non-null uint8
year_1976             12581 non-null uint8
year_1977             12581 non-null uint8
year_1978             12581 non-null uint8
year_1979             12581 non-null uint8
year_1980             12581 non-null uint8
year_1981             12581 non-null uint8
year_1982             12581 non-null uint8
year_1983             12581 non-null uint8
year_1984             12581 non-null uint8
year_1985             12581 non-null uint8
year_1986             12581 non-null uint8
year_1987             12581 non-null uint8
year_1988             12581 non-null uint8
year_1989             12581 non-null uint8
year_1990             12581 non-null uint8
year_1991             12581 non-null uint8
year_1992             12581 non-null uint8
year_1993             12581 non-null uint8
year_1994             12581 non-null uint8
year_1995             12581 non-null uint8
year_1996             12581 non-null uint8
year_1997             12581 non-null uint8
year_1998             12581 non-null uint8
year_1999             12581 non-null uint8
year_2000             12581 non-null uint8
year_2001             12581 non-null uint8
year_2002             12581 non-null uint8
year_2003             12581 non-null uint8
year_2004             12581 non-null uint8
year_2005             12581 non-null uint8
year_2006             12581 non-null uint8
year_2007             12581 non-null uint8
year_2008             12581 non-null uint8
year_2009             12581 non-null uint8
year_2010             12581 non-null uint8
year_2011             12581 non-null uint8
year_2012             12581 non-null uint8
year_2013             12581 non-null uint8
year_2014             12581 non-null uint8
year_2015             12581 non-null uint8
year_2016             12581 non-null uint8
year_2017             12581 non-null uint8
year_2018             12581 non-null uint8
year_2019             12581 non-null uint8
year_2020             12581 non-null uint8
explicit_0            12581 non-null uint8
explicit_True         12581 non-null uint8
time_signature_0.0    12581 non-null uint8
time_signature_1.0    12581 non-null uint8
time_signature_3.0    12581 non-null uint8
time_signature_4.0    12581 non-null uint8
time_signature_5.0    12581 non-null uint8
dtypes: float64(10), int64(1), object(2), uint8(80)
memory usage: 2.3+ MB

In [80]:
df.to_csv('data/feats.csv', index=False)