In [11]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import label_binarize

onehot = OneHotEncoder()
labelencoder = LabelEncoder()

In [4]:
df_r = pd.read_csv('data/more_reggae_done.csv')
df_s = pd.read_csv('data/more_soca_done.csv')
df_d = pd.read_csv('data/more_dance_done.csv')
df_p = pd.read_csv('data/random_done.csv')
df_f = pd.read_csv('data/full_working.csv') 
df_m = pd.read_csv('data/fuller.csv')

In [26]:
df_r['genre'] = 'reggae'
df_s['genre'] = 'soca'
df_d['genre'] = 'dancehall'
df_p['genre'] = 'pop'

In [27]:
df = pd.concat([df_r, df_s, df_d, df_p, df_f, df_m], sort=True)

In [28]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'acousticness', 'album', 'album_id',
       'album_name', 'album_uri', 'analysis_url', 'artist', 'artist_name',
       'danceability', 'duration_ms', 'energy', 'explicit', 'genre', 'id',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'release_date', 'speechiness', 'tempo', 'time_signature', 'track_href',
       'track_id', 'track_name', 'track_uri', 'type', 'uri', 'valence'],
      dtype='object')

In [29]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1','album_name', 'album_uri', 'analysis_url','type','album'], inplace=True)

In [31]:
df.drop_duplicates(subset='track_id', keep='first', inplace=True)

In [36]:
df.to_csv('data/working_new.csv', index=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12581 entries, 0 to 6110
Data columns (total 25 columns):
acousticness        12579 non-null float64
album_id            895 non-null object
artist              7639 non-null object
artist_name         4942 non-null object
danceability        12579 non-null float64
duration_ms         12579 non-null float64
energy              12579 non-null float64
explicit            6744 non-null object
genre               12581 non-null object
id                  7394 non-null object
instrumentalness    12579 non-null float64
key                 12579 non-null float64
liveness            12579 non-null float64
loudness            12579 non-null float64
mode                12579 non-null float64
release_date        6744 non-null object
speechiness         12579 non-null float64
tempo               12579 non-null float64
time_signature      12579 non-null float64
track_href          7394 non-null object
track_id            12581 non-null object
track_name          12581 non-null object
track_uri           8484 non-null object
uri                 7394 non-null object
valence             12579 non-null float64
dtypes: float64(13), object(12)
memory usage: 2.5+ MB

In [92]:
df['genre'] = labelencoder.fit_transform(df['genre'])
df['explicit'] = labelencoder.fit_transform(df['explicit'])
df['key'] = labelencoder.fit_transform(df['key'])
df['mode'] = labelencoder.fit_transform(df['mode'])
df['time_signature'] = labelencoder.fit_transform(df['time_signature'])

In [62]:
df.drop(columns = ['Unnamed: 0', 'type','album','artist','track_name'], inplace=True)

In [63]:
year = []

for x in df['release_date']:
    year.append(x[:4])
    
df['year'] = year    
df['year'].astype('int64') 
df.drop(columns='release_date', inplace=True)

In [64]:
lst = ['key','mode','year', 'explicit','time_signature']

for x in lst:
    df[x] = df[x].astype('category')

In [65]:
df_dum = pd.get_dummies(df[['key','mode','year', 'explicit','time_signature']])

In [66]:
df_dum

,key_0,key_1,key_2,key_3,key_4,key_5,key_6,key_7,key_8,key_9,...,year_2019,year_2020,explicit_0,explicit_1,time_signature_0,time_signature_1,time_signature_2,time_signature_3,time_signature_4,time_signature_5
0,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
4834,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4835,0,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
4836,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
4837,0,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0

In [67]:
df.drop(columns=['key','mode','year', 'explicit','time_signature'], inplace = True)
df = df.join(df_dum)

In [68]:
df.head()

,acousticness,danceability,duration_ms,energy,genre,instrumentalness,liveness,loudness,speechiness,tempo,...,year_2019,year_2020,explicit_0,explicit_1,time_signature_0,time_signature_1,time_signature_2,time_signature_3,time_signature_4,time_signature_5
0,0.0999,0.507,249787.0,0.446,1,0.000025,0.1060,-7.337,0.0587,141.647,...,0,0,1,0,0,0,1,0,0,0
1,0.2050,0.722,203413.0,0.681,1,0.000000,0.0501,-4.419,0.0330,138.008,...,0,0,1,0,0,0,1,0,0,0
2,0.4700,0.602,259133.0,0.661,1,0.003930,0.1460,-8.615,0.0631,117.884,...,0,0,1,0,0,0,1,0,0,0
3,0.0987,0.833,234867.0,0.309,1,0.000009,0.0819,-10.400,0.1050,87.047,...,0,0,1,0,0,0,1,0,0,0
4,0.1140,0.621,214297.0,0.664,1,0.000000,0.1240,-5.609,0.0734,132.220,...,0,0,1,0,0,0,1,0,0,0

In [69]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4836 entries, 0 to 4837
Data columns (total 91 columns):
acousticness        4836 non-null float64
danceability        4836 non-null float64
duration_ms         4836 non-null float64
energy              4836 non-null float64
genre               4836 non-null int64
instrumentalness    4836 non-null float64
liveness            4836 non-null float64
loudness            4836 non-null float64
speechiness         4836 non-null float64
tempo               4836 non-null float64
track_id            4836 non-null object
valence             4836 non-null float64
key_0               4836 non-null uint8
key_1               4836 non-null uint8
key_2               4836 non-null uint8
key_3               4836 non-null uint8
key_4               4836 non-null uint8
key_5               4836 non-null uint8
key_6               4836 non-null uint8
key_7               4836 non-null uint8
key_8               4836 non-null uint8
key_9               4836 non-null uint8
key_10              4836 non-null uint8
key_11              4836 non-null uint8
key_12              4836 non-null uint8
key_13              4836 non-null uint8
mode_0              4836 non-null uint8
mode_1              4836 non-null uint8
mode_2              4836 non-null uint8
mode_3              4836 non-null uint8
year_1967           4836 non-null uint8
year_1969           4836 non-null uint8
year_1970           4836 non-null uint8
year_1971           4836 non-null uint8
year_1972           4836 non-null uint8
year_1973           4836 non-null uint8
year_1974           4836 non-null uint8
year_1975           4836 non-null uint8
year_1976           4836 non-null uint8
year_1977           4836 non-null uint8
year_1978           4836 non-null uint8
year_1979           4836 non-null uint8
year_1980           4836 non-null uint8
year_1981           4836 non-null uint8
year_1982           4836 non-null uint8
year_1983           4836 non-null uint8
year_1984           4836 non-null uint8
year_1985           4836 non-null uint8
year_1986           4836 non-null uint8
year_1987           4836 non-null uint8
year_1988           4836 non-null uint8
year_1989           4836 non-null uint8
year_1990           4836 non-null uint8
year_1991           4836 non-null uint8
year_1992           4836 non-null uint8
year_1993           4836 non-null uint8
year_1994           4836 non-null uint8
year_1995           4836 non-null uint8
year_1996           4836 non-null uint8
year_1997           4836 non-null uint8
year_1998           4836 non-null uint8
year_1999           4836 non-null uint8
year_2000           4836 non-null uint8
year_2001           4836 non-null uint8
year_2002           4836 non-null uint8
year_2003           4836 non-null uint8
year_2004           4836 non-null uint8
year_2005           4836 non-null uint8
year_2006           4836 non-null uint8
year_2007           4836 non-null uint8
year_2008           4836 non-null uint8
year_2009           4836 non-null uint8
year_2010           4836 non-null uint8
year_2011           4836 non-null uint8
year_2012           4836 non-null uint8
year_2013           4836 non-null uint8
year_2014           4836 non-null uint8
year_2015           4836 non-null uint8
year_2016           4836 non-null uint8
year_2017           4836 non-null uint8
year_2018           4836 non-null uint8
year_2019           4836 non-null uint8
year_2020           4836 non-null uint8
explicit_0          4836 non-null uint8
explicit_1          4836 non-null uint8
time_signature_0    4836 non-null uint8
time_signature_1    4836 non-null uint8
time_signature_2    4836 non-null uint8
time_signature_3    4836 non-null uint8
time_signature_4    4836 non-null uint8
time_signature_5    4836 non-null uint8
dtypes: float64(10), int64(1), object(1), uint8(79)
memory usage: 864.2+ KB

In [70]:
df.to_csv('data/working_clean.csv', index=False)

In [ ]:
for x in df.columns:
    xx = df[x]
    print(xx.value_counts)